#social-buttons button {
color : white;
}
.btn-twitter {
background-color: #00acee;
border-color: #009ad5;
}
.btn-facebook {
background-color: #4868ac;
border-color: #314776;
}
.btn-pinterest {
background-color: #b62f26;
border-color: #b62f26;
}
.jumbotron h1{
	font-family:'Arial', cursive;
	color: white;
	margin-bottom: 1em;
	font-size:100pt;
	font-weight: bold;

}
.jumbotron {

max-height: 970px;
background-image:url('images/background.jpg');
background-size: cover;
background-attachment: fixed ;
border: 3px Solid #0f3d3d;

}
.jumbotron h2{
	text-align: center;
	font-size:50pt;
}
#mission {
color: #ddd;
background-color: rgba(32, 35, 41, 0.9);
text-align: center;
font-size: 25pt;
}
#mission p{
font-size :25pt;
}
#buzz{
font-size: 35pt;
}
#buzz p{
	font-size:20pt;
}
#video{
	text-align: center;
	
}
#contact{
	text-align:center;
}

body {
	padding:10px;
}

}
div#gallery {
	perspective: 1200px;
	
}
figure#spinner {
	transform-style: preserve-3d;
	height: 1000px;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50% -500px;
	transition: 1s;
}
figure#spinner img {
	width: 40%;
	position: absolute;
	left: 30%;
	transform-origin-z: 50% 50% -500px;
	outline: 1px solid transparent;

figure#spinner img:nth-child(1) {
	transform: rotateY(0deg);
}
figure#spinner img:nth-child(2) {
	transform: rotateY(-45deg);
}
figure#spinner img:nth-child(3) {
	transform: rotateY(-90deg);
}
figure#spinner img:nth-child(4) {
	transform: rotateY(-135deg);
}
figure#spinner img:nth-child(5) {
	transform: rotateY(-180deg);
}
figure#spinner img:nth-child(6) {
	transform: rotateY(-225deg);
}
figure#spinner img:nth-child(7) {
	transform: rotateY(-270deg);
}
figure#spinner img:nth-child(8) {
	transform: rotateY(-315deg);
}