#social-buttons button {
color : white;
}
.btn-twitter {
background-color: #00acee;
border-color: #009ad5;
}
.btn-facebook {
background-color: #4868ac;
border-color: #314776;
}
.btn-pinterest {
background-color: #b62f26;
border-color: #b62f26;
}
.jumbotron h1{
	font-family:'Arial', cursive;
	color: white;
	margin-bottom: 1em;
	font-size:100pt;
	font-weight: bold;

}
.jumbotron {
min-height: 100px;
max-height: 700px;

background-image:url('images/background.jpg');
background-size: cover;
background-attachment: fixed ;
border: 3px Solid #0f3d3d;

}
.jumbotron h2{
	text-align: center;
}
#mission {
color: #ddd;
background-color: rgba(32, 35, 41, 0.9);
text-align: center;
}

#video{
	text-align: center;
	border: 3px solid;
	background-image:url('images/background.jpg')
}
#contact{
	text-align:center;
}


body {
	padding-top: 70px;
}